---
interface Props {
  url: string;
  name: string;
  isBig?: boolean;
}

const { name, url, isBig = false } = Astro.props;

const id = url.split("/").at(-2);
const imgSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<!-- class={`flex items-center justify-center flex-col transition-all duration-500 ease-out hover:scale-110 p-2 mt-4 max-w-40 ${!isBig && "border border-gray-400/55 rounded-md shadow-md shadow-gray-600 hover:shadow-gray-400"}`} -->
<a
  href={`/pokemons/${name}`}
  class:list={[
    "flex items-center justify-center flex-col transition-all duration-300 ease-out hover:scale-110 p-2 mt-4 max-w-40 border-gray-400/55 rounded-md shadow-gray-600 hover:shadow-gray-400",
    {
      border: !isBig,
      shadow: !isBig,
    }
  ]}
>
  <img
    class:list={[
      "size-24",
      {
        "size-48" : isBig
      }
    ]}
    src={imgSrc} 
    alt={name} 
  />
  <span class:list={[
    "capitalize",
    {
      "text-3xl": isBig
    }
  ]}>#{id} {name}</span>
</a>
